@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');
body {
    font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.common-section {
    padding: 15px 0;
}
.main-div {
	background-color: #f1f0f5;
}
p, h1, h2, h3, h4, h5, h6 {
    color: #333;
}
.common-heading {
    font-size: 22px;
    margin-bottom: 15px;
}

/*animations*/
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
[data-animation] {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.animations-disabled, .animations-disabled [data-animation] {
  -webkit-animation: none !important;
          animation: none !important;
  opacity: 1 !important;
}
.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}
.slideInLeft {
  -webkit-animation-name: slideInleft;
          animation-name: slideInleft;
}
.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.fadeOut {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  animation-direction: reverse;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
.zoomOut {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  animation-direction: reverse;
}
.zoomReverseIn {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
}
.zoomReverseOut {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
  animation-direction: reverse;
}
.flipInY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}
.flipOutY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
  animation-direction: reverse;
}
/*animations*/

/*About us*/
.about-us-section {
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
}
.about-us-section:before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, #F8EFDA 70%, #F8EFDA 100%);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 15px;
}
.about-us-left h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.about-us-left {
    width: 100%;
    max-width: 70%;
    padding: 30px 30px;
    position: relative;
    z-index: 1;
}
.about-us-right {
    width: 100%;
    max-width: 30%;
	position: relative;
    z-index: 1;
}
.about-us {
    overflow: hidden;
    border-left: 10px solid var(--main-bg-color);
    border-top: 10px solid var(--main-bg-color);
    height: 100%;
    border-radius: 75px 15px 15px 0px;
}
.about-us img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.common-para {
    font-size: 15px;
    line-height: normal;
}
.common-sub-heading {
    font-size: 16px;
    font-weight: 600;
}
.categories-inner-start {
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);
    height: 100%;
	text-align: center;
}
.categories-inner-start h4 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.categories-inner-start img {
    border-radius: 15px;
}

@media screen and (max-width: 1270px) {
.about-us-left {
    padding: 25px 25px;
}

}

@media screen and (max-width: 991px) {
.common-para {
    font-size: 14px;
}
.about-us-left h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.about-us-left {
	padding: 20px 20px;
}

}

@media screen and (max-width: 767px) {
.about-us-left {
    max-width: 100%;
}
.about-us-right {
    max-width: 100%;
}
.about-us-section {
    display: flex;
    flex-wrap: wrap;
}
.about-us-left {
	padding: 15px 15px;
}
.about-us-left h2 {
	font-size: 17px;
	margin-bottom: 8px;
}
.about-us {
    border-left: 8px solid var(--main-bg-color);
    border-top: 8px solid var(--main-bg-color);
}
.common-section {
	padding: 10px 0;
}
.common-heading {
	font-size: 18px;
}

}
/*About us*/

/*Single Banner*/
.banner-slide-nw img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
}
.lapino-growth img {
    width: 100%;
    max-width: 100%;
}
.city-outer-new {
    width: 100%;
    text-align: left;
    min-height: 255px;
    height: 255px;
    overflow: hidden;
    transition: height .5s ease-in;
    margin-bottom: 0;
    position: relative;
}
@media screen and (max-width: 767px) {
.city-outer-new {
    min-height: 235px;
    height: 235px;
}

}
/*Single Banner*/

/*Logos*/
.slider-client .slide {
    padding: 0 5px;
}
.slider-client .slide .slide-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #dedede;
    background-color: #fff;
    overflow: hidden;
}
.slider-client .slide .slide-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.slider-client h5 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
    margin-top: 10px;
}
.category {
    display: flex;
    flex-wrap: wrap;
}
.category .categories-inner {
    width: 100%;
    max-width: 16.66%;
    padding: 5px 5px;
}

@media (max-width: 767px) {
.slider-client .slide .slide-img {
    border-radius: 8px;
}
.slider-client h5 {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
    margin-top: 0px;
}
.slider-client .slide {
    padding: 0 2px;
}
.lapino-city-div .slick-list {
    padding: 0 20% 0 0 !important;
}
.lapino-city-div .container {
    padding-right: 0px;
}
.category .categories-inner {
    max-width: 33.33%;
    padding: 4px 4px;
}
.category {
    margin: 0 -5px;
}
.categories-inner-start {
    padding: 8px 8px;
}
.categories-inner-start h4 {
    font-size: 13px;
    margin-top: 8px;
}

}
/*Logos*/

/*Sticky Buttons*/
.sticky-buttons {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 1111;
	text-align: center;
	padding: 10px 10px;
	background-color: #fff;
	margin: 0px;
	box-shadow: 0px 0px 10px #00000029;
	display: none;
}
.sticky-buttons a {
	padding: 8px 8px !important;
	display: inline-block;
	border-radius: 13px !important;
	font-weight: 600;
	background: none;
	color: var(--main-bg-color);
	line-height: initial;
}
.sticky-buttons .border-only {
	color: var(--main-bg-color);
	background: none;
}
@media (max-width: 575px) {
	.sticky-buttons {
		display: block;
	}
}
/*Sticky Buttons*/

/*quality section*/
.quality-pointers li {
    width: 33.33%;
    padding: 0 40px;
    text-align: center;
}
.quality-pointers img {
    width: auto;
    min-height: 76px;
    margin-bottom: 12px;
}
.quality-assured-start {
    background-image: url(../lapinoz/img/quality-assured-bg.jpg);
    background-size: cover;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
}
.quality-pointers {
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(15px);
    padding: 25px 0px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px #00000066;
    border: 1px solid #fff;
    background: #ffffff1a;
}
.quality-pointers h5 {
    font-size: 18px;
    margin-bottom: 10px;
}
.quality-pointers p {
    font-size: 14px;
    line-height: normal;
    font-weight: 300;
}
.quality-li-center {
	position: relative;
}
.quality-li-center:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(255 255 255), rgba(255, 0, 0, 0));
}
.quality-li-center:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0px;
    top: 0px;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(255 255 255), rgba(255, 0, 0, 0));
}

@media (max-width: 767px) {
.quality-pointers li {
	padding: 20px 17px;
	width: 100%;
}
.quality-assured-start {
	padding: 25px 25px;
}
.quality-pointers {
    padding: 0px 0px;
}
.quality-pointers {
    padding: 0px 0px;
    border: 0px solid #fff;
}
.quality-li-center:before {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255 255 255), rgba(255, 0, 0, 0));
    top: 0px;
    width: 100%;
    height: 1px;
}
.quality-li-center:after {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255 255 255), rgba(255, 0, 0, 0));
    top: auto;
	bottom: 0px;
    width: 100%;
    height: 1px;
}
.quality-pointers h5 {
    font-size: 14px;
}
.quality-pointers p {
    font-size: 14px;
}

}
/*quality section*/

/*Newly launched stores*/
.store-div-start {
    padding: 5px 10px;
}
.store-div-ins {
    background-color: #fff;
    display: flex;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
}
.store-detail {
    width: 100%;
    max-width: 73%;
}
.store-logo {
    width: 100%;
    max-width: 20%;
}
.store-detail {
    width: 100%;
    max-width: 75%;
}
.store-icon {
    width: 100%;
    max-width: 7%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.store-icon svg {
    width: 100%;
    max-width: 10px;
}
.first {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}
.second {
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.store-logo img {
    max-width: 50px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    overflow: hidden;
}
.slick-dots li {
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    position: relative;
}
.slick-dots li:first-child {
    margin-left: 0;
}
.slick-dots li:last-child {
    margin-right: 0;
}
.slick-dots li button {
    border: 0;
    outline: none;
    line-height: 0px;
    color: transparent;
    display: block;
    font-size: 0;
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: #C8C8C8;
    border: 1px solid #C8C8C8;
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    border-radius: 50% !important;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
    background: #fff;
    border-color: #fff;
}
.slick-dots li.slick-active button {
    background: #fff;
    border-color: var(--main-bg-color);
    width: 35px;
    border-radius: 5px !important;
}
.slick-dots {
    text-align: center;
}

@media (max-width: 767px) {
.store-div-start {
    padding: 5px 5px;
}
.newly-launced-stores .container {
    padding-right: 0px;
    padding-left: 10px;
}
.newly-launced-stores .slick-list {
	padding: 0 20% 0 0 !important;
}
.newly-launced-stores .singler .slick-list {
	padding: 0 0% 0 0 !important;
}
.newly-launced-stores .singler {
    padding-right: 10px;
}
.store-logo img {
    max-width: 45px;
}
.store-div-ins {
    padding: 8px;
}
.store-logo {
    width: 100%;
    max-width: 21%;
}
.store-detail {
    width: 100%;
    max-width: 74%;
}
.store-icon svg {
    max-width: 8px;
}

}
/*Newly launched stores*/

/*bestseller*/
.bestseller-outer {
    padding: 0 10px;
}
.item-placeholder {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.item-placeholder:before {
	content: "";
	position: absolute;
}
.veg-flag {
    width: 16px;
    height: 16px;
    border: 1px solid #3DA66E;
    text-align: center;
    background-color: #fff;
    margin-right: 7px;
    margin-top: 2px;
    position: relative;
    border-radius: 3px;
}
.veg-flag span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #3DA66E;
    border-radius: 50% !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.non-vegflag {
    width: 16px;
    height: 16px;
    border: 1px solid #fd1615;
    text-align: center;
    background-color: #fff;
    margin-right: 7px;
    margin-top: 2px;
    position: relative;
    border-radius: 3px;
}
.non-vegflag span {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #fd1615;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.item-placeholder .bestseller-placeholder {
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}
.item-detail {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}
.item-detail h5 {
    margin: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.tag_list span {
    border: 1px solid #fff;
    padding: 1px 4px;
    border-radius: 6px;
    display: inline-flex;
    color: #fff;
    font-weight: 600;
    align-items: center;
    font-size: 10px;
    line-height: normal;
}
.tag_list span {
    margin-left: 3px;
    margin-right: 3px;
}
.tag_list span:first-child {
    margin-left: 0px;
}
.tag_list span:last-child {
    margin-right: 0px;
}
.tag_list span svg {
    margin-right: 2px;
    width: 100%;
    max-width: 12px;
}
.bestseller-slider .slick-list {
    padding: 0 20% 0 0 !important;
}
.item-placeholder:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0 0 0 / 60%));
    z-index: 0;
}
.bestseller-slider .slick-list {
    padding: 0 30% 0 0 !important;
}
.bestseller-slider .slick-dots {
    margin-top: 5px;
}
.top-toggle {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}
.item-detail .item-left {
    width: 100%;
    max-width: 75%;
    padding-right: 10px;
}
.item-detail .item-right {
    width: 100%;
    max-width: 25%;
    text-align: right;
}
.view-btn {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    color: #000;
    padding: 1px 10px;
}
@media (max-width: 767px) {
.bestseller-outer {
    padding: 0 5px;
}
.Bestsellers .container {
    padding-right: 0px;
    padding-left: 10px;
}
.item-detail h5 {
    font-size: 13px;
}
.tag_list span {
    padding: 2px 4px;
    border-radius: 6px;
    margin-bottom: 8px;
    font-size: 10px;
}

}
/*bestseller*/

/*promo codes*/
.banner-slider-promo .d-block {
    padding: 0px 10px;
}
.banner-slider-promo .d-block img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
@media (max-width: 767px) {
.banner-slider-promo .d-block {
    padding: 0px 5px;
}
.banner-slider-promo .slick-list {
    padding: 0 20% 0 0 !important;
}
.quality-assured .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer-bottom {
    padding-bottom: 85px !important;
}

}
/*promo codes*/

/*testimonials*/
.quotes-outer {
    background-color: #fff;
    padding: 25px 40px 40px 40px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);
    border-radius: 15px;
    overflow: hidden;
	position: relative;
}
.quotes-outer:before {
    content: "";
    position: absolute;
    background-image: url(../lapinoz/img/lp-bg.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
}
.bubble {
    border: 1px solid var(--main-bg-color);
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 17%) !important;
    background-color: #fff;
}
.bubble:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
	border-radius: 15px;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, #DDF5E7 70%, #DDF5E7 100%);
}
.quotes-outer .slick-dots {
    position: absolute;
    bottom: -15px;
    width: 100%;
}
.quotes .slick-list, .quotes .slick-track {
    display: flex;
}
.bubble cite {
    color: #000;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-style: normal;
}
.bubble blockquote {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.quotes .slick-slide {
    padding-bottom: 15px;
}
.common-heading span {
    font-weight: 300;
    margin-bottom: 10px;
}
.quotes-outer .common-heading {
    color: var(--main-bg-color);
}
.city-name-outr {
    display: flex;
    margin-bottom: 10px;
}
.city-name-outr .city-name-souter {
    width: 100%;
    max-width: 3.5%;
}
.cities-list-nw {
    margin-top: 2rem;
    overflow: hidden;
    height: auto;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.city-name-outr .cities-list-nw {
    width: 100%;
    max-width: 96.5%;
}
.cities-list-nw li {
    color: var(--main-bg-color);
    width: auto;
    padding: 7px 10px;
    background: #bbf3dc14;
    border-radius: 0.5em;
    margin: 0.3em;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    border: 1px solid #C0C0C0;
    background-color: #fff;
}
.cities-list-nw li a {
    moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cities-list-nw li i {
    margin-right: 5px;
    font-size: 13px;
}
.city-name-outr .city-name-s {
    background-color: var(--main-bg-color);
    margin: 0;
    font-weight: 500;
    margin-top: 8px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-shadow: 0px 4px 7px rgb(0 0 0 / 20%);
    color: #fff;
}

@media (max-width: 767px) {
.quotes-outer {
	padding: 20px 15px 35px 15px;
}
.quotes .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
}
.cities-list-nw li {
    padding: 5px 8px;
    font-size: 14px;
	margin: 0.3em 0.1em;
}
.city-name-outr .cities-list-nw {
    max-width: 90%;
}
.city-name-outr .city-name-souter {
    max-width: 10%;
}
.quotes-outer:before {
    background-image: url(../lapinoz/img/testimonial-bg.png);
    opacity: 0.1;
}

}
/*testimonials*/

/*top offers*/
.banner-slider-sp {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 15%);
    padding: 15px 15px;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.banner-slider-ss {
    padding: 5px 5px 5px 5px;
}
.banner-slider-ss a {
    cursor: pointer;
}
.banner-slider-ss h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
}
.banner-slider-ss h4 b {
    width: 100%;
    display: inline-block;
    max-width: 280px;
}
.banner-slider-ss h4 span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    color: var(--main-bg-color);
    line-height: 30px;
    margin-bottom: 5px;
}
.promo-codes {
    border-radius: 50px;
    background: #DDF5E7;
    border: 1px dashed var(--main-bg-color);
    padding: 2px 15px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.banner-slider-sp img {
    position: absolute;
    right: -4px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    max-width: 100px;
}
.top-offers .slick-track, .top-offers .slick-list {
	display: flex;
}
.banner-slider-ss {
	height: 100%;
}
@media (max-width: 991px) {
.banner-slider-ss h4 span {
    font-size: 26px;
}
}
@media (max-width: 767px) {
.top-offers .container {
	padding-right: 0px;
	padding-left: 10px;
}
.top-offers .slick-list {
	padding: 0 30% 0 0 !important;
}
.banner-slider-sp img {
	max-width: 65px;
}
.banner-slider-ss h4 span {
    font-size: 20px;
    line-height: 20px;
}
.banner-slider-sp {
    padding: 12px 12px;
}
.promo-codes {
	padding: 1px 13px;
	font-size: 12px;
	margin-top: 10px;
	left: 12px;
	bottom: 12px;
}
.banner-slider-ss h4 {
    font-size: 12px;
}

}
/*top offers*/

/*full banner*/
.new-banner img {
    width: 100%;
}
.full-img {
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;
}
/*full banner*/


/*Delivery Pickup new widget*/
.new-delivery .nav-link {
    border: none;
    border-bottom: 3px solid #e9ecef;
    color: #201C1D;
    font-weight: 600;
    font-size: 15px;
}
.new-delivery .nav-tabs .nav-link.active {
	color: var(--main-bg-color) !important;
	border-color: var(--main-bg-color) !important;
	background: none;
	border-radius: 5px 5px 0px 0px!important;
}
.new-delivery.wla_home_about_us .wla_section_heading:after {
	display: none;
}
.new-delivery-selector {
	margin-top: 20px;
	z-index: 1;
	position: relative;
}
.gps-btn, .gps-btn:hover, .gps-btn:focus {
    padding: 14px 20px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    display: inline-block;
    color: #fff;
    border-radius: 13px !important;
    font-weight: 500;
    font-size: 16px;
}
.outlet-div {
    display: flex;
    border-radius: 13px;
    overflow: hidden;
    border: 1px solid var(--main-bg-color);
    width: 100%;
    min-width: 445px;
}
.outlet-div .custom-select {
	border: none;
	border-radius: 0px;
	margin: 0px;
	height: auto;
	line-height: initial;
	padding: 17px 30px 17px 20px;
	cursor: pointer;
	color: #11141A;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A);
	background-position: right 15px center;
	background-repeat: no-repeat;
	background-size: auto 35%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-weight: 500;
	font-size: 14px;
}
.outlet-div .custom-select:focus {
	box-shadow: none;
}
.outlet-div .custom-select:first-child {
	padding-left: 30px;
	border-right: 1px solid var(--main-bg-color);
}
.outlet-div .custom-select:last-child {
	background-position: right 15px center;
}
.new-delivery-selector li {
	line-height: initial;
}
.outlet-div select.disabled {
	background-color: #f4f4f4;
	color: #999999;
	pointer-events: none;
}
.order_selectType {
	margin-top: 1rem;
	text-align: left;
	margin-bottom: 0px;
}
.oulets-divs {
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}
.top-divs {
	padding: 15px 15px 15px 15px;
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	cursor: pointer;
	height: 100%;
}
.top-divs .top-divs-left {
	width: 100%;
	max-width: 14%;
}
.top-divs .top-divs-right {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-divs-right p {
	font-size: 16px;
	color: #000;
	font-weight: 600;
	display: flex;
	text-align: left;
	margin-bottom: 0px;
	width: 100%;
	max-width: 73%;
}
.bottom-oulets-dvs {
	display: flex;
	justify-content: space-between;
}
.new-delivery .oulets-divs .bottom-oulets-dvs > div {
	align-items: center;
	display: grid;
}
.new-delivery .oulets-divs .bottom-oulets-dvs i {
	font-size: 19px;
}
.icons-dvs i {
	color: #000;
	margin: 0 2px;
	font-size: 20px;
}
.icons-dvs > div i:first-child {
	margin-left: 0px;
}
.icons-dvs > div i:last-child {
	margin-right: 0px;
}
.bottom-oulets-dvs span {
	color: var(--main-bg-color);
	font-weight: 600;
	background: none;
	border: 1px solid var(--main-bg-color);
	padding: 5px 10px;
	display: inline-block;
	border-radius: 24px;
	font-size: 12px;
}
.bottom-oulets-dvs span:hover {
	background-color: var(--main-bg-color);
	color: #fff;
}
.top-divs-right p img {
	height: auto;
	margin-right: 4px;
	width: 100%;
	max-width: 15px;
	margin-top: 5px;
}
.form-subscribe-new input, .form-subscribe-new input:focus {
	height: auto;
	border: none;
	border-radius: 5px !important;
	overflow: hidden;
	padding: 15px 48px 15px 15px;
	font-weight: 500;
	font-size: 15px !important;
	border: 1px solid var(--main-bg-color);
}
body .near-me button {
	position: absolute;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-bg-color);
	padding: 17px 15px;
	border-radius: 5px !important;
	overflow: hidden;
	color: #fff;
	font-size: 20px;
	top: 0px;
	right: 0px;
	z-index: 11;
	text-transform: uppercase;
}
body .near-me button img {
	max-width: 21px;
	margin-right: 6px;
}
.bannerSlider img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 480px;
}
.fixed-txt .top-divs-right p {
	max-width: 70%;
}
.new-delivery .top-divs {
	padding: 8px 8px 8px 8px;
}
.new-delivery .oulets-divs p {
	font-size: 14px;
	line-height: 22px;
	padding-right: 7px;
	max-width: 90%;
	font-weight: 400;
}
.new-delivery #outletListSearch {
	overflow-x: autos;
	width: 100%;
	display: flex;
	overflow-y: hidden;
	padding-bottom: 3px;
	flex-wrap: nowrap;
	padding-left: 10px;
}
.new-delivery #outletListSearch::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}
.new-delivery #outletListSearch::-webkit-scrollbar {
	height: 4px;
	background-color: #F5F5F5;
}
.new-delivery #outletListSearch::-webkit-scrollbar-thumb {
	background-color: #898989;
}
.new-delivery #outletListSearch > div {
	padding: 5px 5px;
	cursor: pointer;
	margin-top: 0.3rem;
	width: fit-content;
	min-width: 240px;
}
.new-delivery .oulets-divs {
	margin-bottom: 0px;
	height: 100%;
}
.top-divs .top-divs-right p span:first-child {
	width: 100%;
	max-width: 24px;
}
.new-delivery .top-divs .top-divs-right p span:first-child {
	max-width: initial;
	width: auto;
}
.block-inner {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 10%);
    position: relative;
    overflow: hidden;
}
.block-inner:before {
    content: "";
    background-image: url(../lapinoz/img/lapinoz-delivert-pickup.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    background-position: top right;
}
body .block-inner .near-me button {
	position: relative;
	font-weight: 500;
	font-size: 15px !important;
	margin-left: -10px !important;
	border-radius: 0px 5px 5px 0px !important;
	text-transform: capitalize;
}
.block-inner .form-subscribe-new input, .block-inner .form-subscribe-new input:focus {
	padding: 15px 15px 15px 15px;
	font-weight: 500;
	background-color: #f4f4f4;
}
.block-inner .outlet-div select.disabled {
	background-color: #f4f4f4;
}
.block-inner #myTab {
	margin-top: 0px !important;
}
.block-inner .gps-btn, .block-inner .gps-btn:hover, .block-inner .gps-btn:focus {
	font-size: 14px;
}
.nearbydvlisting .img-first {
	width: 100%;
	max-width: 18%;
	margin-right: 4px;
}
.nearbydvlisting .img-second {
	width: 100%;
	max-width: 100%;
}
.img-second h4 {
	font-weight: 700;
	font-size: 18px;
	padding-bottom: 4px;
}
.img-second p, .img-third p {
	line-height: initial;
	font-weight: 600;
	color: #000;
}
.img-third p { 
	color: red;
}
.img-third span {
	display: inline-block;
	background-color: var(--main-bg-color);
	padding: 0px 6px;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 5px;
	font-size: 14px;
	position: absolute;
	right: 7px;
	top: 50%;
	transform: translate(0px, -50%);
}
.login-screen.nearbyoutlets .modal-title {
	font-size: 18px;
}
.login-screen.nearbyoutlets .modal-title svg {
	width: 100%;
	max-width: 15px;
}
#nearOutlet_List li > div {
	position: relative;
}
.img-enable .block-inner {
    background-color: rgb(255 255 255 / 85%);
}
.gps-animation {
  animation: zoom-in-zoom-out 1s ease;
  animation-delay: 1s;
}
.block-inner > ul {
    position: relative;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
.widthout-img {
    position: relative;
    overflow: hidden;
}
.widthout-img:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: var(--main-bg-color);
    z-index: -1;
}
.widthout-img .block-inner {
    position: relative;
    background-color: rgb(255 255 255 / 70%);
}
.widthout-img:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    font-size: 60px;
    line-height: 60px;
    left: 0px;
    right: 0px;
    z-index: 0;
    font-weight: 700;
    color: #fff;
    opacity: 0.08;
    text-align: justify;
    padding: 0 30px;
}
.widthout-img .container {
    z-index: 1;
    position: relative;
}
.searchcities {
    position: relative;
}
@media (max-width: 1199px) {
.widthout-img:after {
    font-size: 37px;
    line-height: 37px;
}
}
@media (max-width: 991px) {
.widthout-img:after {
    font-size: 35px;
    line-height: 35px;
    padding: 0 30px;
}
}
@media (max-width: 767px) {
.new-delivery .nav-tabs li {
	width: 50%;
}
.new-delivery .nav-link {
	width: 100%;
}
.new-delivery-selector {
	flex-wrap: wrap;
}
.new-delivery-selector li {
	width: 100%;
	text-align: center;
}
.gps-btn {
	width: 100%;
}
.outlet-div {
	min-width: 100%;
}
.oulets-divs {
	margin-bottom: 15px;
}
.top-divs-right p img {
	margin-right: 4px;
	max-width: 15px;
}
.bottom-oulets-dvs span {
	padding: 3px 8px;
	font-size: 11px;
}
.top-divs-right p {
	font-size: 16px;
	max-width: 72%;
}
.order_selectType {
	padding-left: 4px;
}
.new-delivery #outletListSearch > div {
	min-width: 224px;
}
.new-delivery .searchcities {
	margin-right: -15px;
	margin-left: -5px;
}
.new-delivery .top-divs {
	padding: 7px;
}
.new-delivery .oulets-divs p {
	font-size: 13px;
	line-height: 20px;
}
.new-delivery #outletListSearch {
	justify-content: left;
}
.block-inner {
    padding: 10px 10px 13px 10px;
    position: relative;
    z-index: 1;
    text-align: center;
}
body .block-inner .near-me button {
	font-size: 14px !important;
	padding: 15px 5px;
	margin-left: -5px !important;
}
.block-inner .form-subscribe-new input, .block-inner .form-subscribe-new input:focus {
	padding: 10px 0px 10px 10px;
	font-size: 14px !important;
}
.block-inner #myTab {
	margin-left: -10px;
	margin-right: -10px;
}
.block-inner .outlet-div .custom-select {
	padding: 15px 25px 15px 10px;
	font-size: 14px;
}
.block-inner .wla_section_heading {
	padding-bottom: 3px !important;
	padding-top: 0px !important;
}
.block-inner .wla_section_heading {
	font-size: 20px;
}
.block-inner .wla_section_heading span {
	font-size: 18px;
	margin-bottom: 7px;
}
.new-delivery .block-inner .nav-link {
	font-size: 15px;
}
.block-inner .gps-btn, .block-inner .gps-btn:hover, .block-inner .gps-btn:focus {
	font-size: 14px;
	padding: 13px 20px;
}
.img-second h4 {
	font-size: 16px;
}
.img-second p, .img-third p {
	font-size: 13px;
}
body .nearbyoutlets.promocode .modal-content {
	padding: 0rem 1rem;
}
.img-third span {
	font-size: 11px;
}
.login-screen.nearbyoutlets .modal-title {
	font-size: 16px;
}
.widthout-img:after {
	font-size: 25px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
}
.block-inner:before {
	display: none;
}
}
/*Delivery Pickup new widget*/

/*Custom Delivery Pickup Widget*/
.custom-pickup-widget {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.bannerSlider .slick-slide {
	padding: 0px;
}
.bannerSlider .slick-dots {
	bottom: 15px;
}
.bannerSlider .slick-dots li {
	width: auto;
	height: auto;
	margin: 0 4px;
}
.bannerSlider .slick-dots li button {
	border-radius: 0px !important;
	width: 30px;
	height: 4px;
	opacity: 0.25;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.bannerSlider .slick-dots li.slick-active button{
	background-color: #fff;
	border-color: #fff;
	opacity: 1;
	width: 35px;
}
.bannerSlider .slick-dots li button:hover {
	opacity: 1;
}
.fixed-txt .wla_section_heading:after {
	display: none;
}
.fixed-txt {
	position: absolute;
	z-index: 1;
	text-align: center;
	top: 9em;
	transform: translate(-50%, 0%);
	padding: 0 15px;
	left: 50%;
	width: 1200px;
}
.bannerSlider .slick-slide {
	position: relative;
	height: 100%;
	background-size: cover;
}
.custom-pickup-widget.new-delivery .nav-link {
	border: none;
	border-bottom: 3px solid #ffffff;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
.custom-pickup-widget.new-delivery .nav-link:hover {
	border: none;
	border-bottom: 3px solid #ffffff;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
.bannerSlider .slick-slide {
	background-size: cover;
	background-position: center;
}
.bannerSlider .slick-slide::before {
	content: "";
	position: absolute;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.3);
	z-index: 0;
	height: 100%;
	left: 0px;
	z-index: 0;
}
.bannerSlider .custom-banner {
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 26px;
	color: #fff;
	font-weight: 600;
	width: 100%;
	padding: 0 15px;
}
.bannerSlider .custom-banner span {
	display: block;
}
.fixed-txt .nav-tabs {
	margin-bottom: 40px;
}
.custom-pickup-widget .order_selectType {
	color: #fff;
	width: 100%;
	max-width: 725px;
	margin: 0 auto;
	margin-top: 1rem;
}
.custom-pickup-widget #outletListSearch {
	width: 100%;
	max-width: 725px;
	margin: 0px auto;
}
.custom-pickup-widget #outletListSearch {
	margin: 0px auto;
	max-width: 733px;
	padding-left: 0px;
}
.wla_section_heading {
    text-transform: capitalize;
    font-size: 24px;
    position: relative;
    padding-bottom: 10px;
    font-weight: 600;
}
.wla_section_heading span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}
@media screen and (max-width: 991px) {
    .wla_section_heading span {
        font-size: 20px;
        margin-bottom: 8px;
    }
	.wla_section_heading {
        font-size: 23px;
    }
}
@media (max-width: 767px) {
    .block-inner .wla_section_heading span {
        font-size: 18px;
        margin-bottom: 7px;
    }
	.block-inner .wla_section_heading {
        padding-bottom: 3px !important;
        padding-top: 0px !important;
    }
	.block-inner .wla_section_heading {
        font-size: 20px;
    }
}
@media (max-width: 575px) {
.fixed-txt {
	width: 100%;
	top: 8.5em;
}
.bannerSlider .custom-banner {
	top: 45px;
	font-size: 23px;
}
.fixed-txt #myTab {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
}
.fixed-txt #myTab {
	margin-bottom: 110px;
}
.bannerSlider img {
	height: 530px;
}

}
/*Custom Delivery Pickup Widget*/

/*Download App*/
.burger-download-app .row {
    padding: 30px 0;
}
.download-app-text {
    position: relative;
    left: -17px;
}
.burger-download-heading {
    font-size: 42px;
    color: var(--main-bg-color);
    margin-bottom: 20px;
    position: relative;
    font-weight: 700;
}
.burger-download-subheading {
    font-size: 22px;
    color: var(--main-bg-color);
    margin-bottom: 25px;
}
.download-icons a {
    margin: 0px 5px;
}
.download-icons a:first-child {
    margin-left: 0px;
}
.download-icons a:last-child {
    margin-right: 0px;
}
.download-icons img {
    width: 100%;
    max-width: 180px;
}
.burger-download-app {
	position: relative;
}
.burger-download-app:after {
    content: "";
    position: absolute;
    background-image: url(../lapinoz/img/lp-download-pizza.png);
    width: 180px;
    height: 180px;
    background-size: cover;
    top: 0px;
    right: 0;
    position: absolute;
}
.burger-download-heading:after {
    content: "";
    position: absolute;
    background-image: url(../lapinoz/img/bite-into-savings.jpg);
    width: 135px;
    height: 16px;
    background-size: cover;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1270px) {
.burger-download-app:after {
    width: 140px;
    height: 140px;
}

}

@media only screen and (max-width: 1199px) {
.burger-download-app:after {
    width: 120px;
    height: 120px;
}

}

@media only screen and (max-width: 991px) {
.burger-download-app:after {
    width: 80px;
    height: 80px;
}
.burger-download-heading {
    font-size: 32px;
}
.download-icons img {
    max-width: 150px;
}

}

@media only screen and (max-width: 767px) {
.burger-download-app .row {
	padding: 30px 0 30px;
}
.burger-download-app .row > div:first-child {
	order: 1;
	margin-top: 35px;
	text-align: center;
}
.download-app-text {
	left: 0;
}
.burger-download-heading {
    font-size: 26px;
    margin: 15px 0 25px;
}
.burger-download-app:after {
    width: 80px;
    height: 80px;
}
.burger-download-app .row > div:first-child img {
    width: 100%;
    max-width: 370px;
}

}

@media (max-width: 575px) {
.download-icons img {
	max-width: 140px;
}
.download-icons a {
    margin: 0px 3px;
}
.burger-download-app:after {
    width: 50px;
    height: 50px;
}
.burger-download-subheading {
    font-size: 20px;
}

}
/*Download App*/


.lapinoz-ul {
    display: flex;
    border-radius: 20px !important;
    overflow: hidden;
}
.lapinoz-ul svg {
    width: 100%;
    height: auto;
}
.lapinoz-ul li {
    position: relative;
    margin-left: -28px;
}
.lapinoz-ul li:first-child {
    margin-left: 0px;
}
.lapinoz-ul li:first-child {
	z-index: 6;
}
.lapinoz-ul li:nth-child(2) {
	z-index: 5;
}
.lapinoz-ul li:nth-child(3) {
	z-index: 4;
}
.lapinoz-ul li:nth-child(4) {
	z-index: 3;
}
.lapinoz-ul li:nth-child(5) {
	z-index: 2;
}
.lapinoz-ul li:nth-child(6) {
	z-index: 1;
}

@media (max-width: 767px) {
.lapinoz-ul {
    display: block;
}
.lapinoz-ul li {
    margin-left: 0;
    margin-top: -18px;
}
.lapinoz-ul li:first-child {
    margin-left: 0;
    margin-top: 0px;
}

}